{
    "extends": [
        "./rules/eslint.js"
    ],
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script",
        "ecmaFeatures": {}
    },
    "env": {
        "amd": true,
        "node": true
    },
    "globals": {
        "module": false,
        "process": false
    },
    "rules": {
        "no-magic-numbers": "off",
        "max-len": "off",
        "quote-props": "off"
    }
}
